image:
  repository: quay.io/oauth2-proxy/oauth2-proxy
  tag: v7.12.0   # on fige la version


config:
  clientID: adjoda-webapp
  #clientSecret: sHlVDQLhii/iJTmD0AYelXww0jUrY3EHpKj6CeER15Y=
  cookieSecret: YmglTnMTSm2XqD1qvNnKzR2ffhp2pr20ijylhK4MzYA=
  #scope: openid profile email roles
  configFile: |
    email_domains = ["*"]
    upstreams = ["static://200"]
extraArgs:
  provider: keycloak-oidc
  oidc-issuer-url: https://keycloak.adjoda.com.ngrok.app/realms/adjoda-dev-realm
  provider-display-name: Keycloak
  skip-provider-button: true
  pass-authorization-header: true
  code-challenge-method: S256
  redirect-url: http://adjodadev.com/oauth2/callback
  cookie-csrf-per-request: true
  cookie-secure: false

  cookie-samesite: lax
  cookie-refresh: 0h4m30s # inferieur à access_token validity  #https://oauth2-proxy.github.io/oauth2-proxy/configuration/session_storage/ => The "cookie-refresh" value controls when OAuth2 Proxy tries to refresh an Access-Token
  cookie-httponly: true

  silence-ping-logging: true
  cookie-domain: adjodadev.com
  whitelist-domain: adjodadev.com
  reverse-proxy: true

  pass-access-token: true            # renvoyer l'access_token côté proxy
  set-authorization-header: true     # construire Authorization: Bearer <token>
  set-xauthrequest: true             # (optionnel) X-Auth-Request-* headers
  cookie-expire: 1h0m0s  # Le token sera rafrechi chaque 4m30s (cookie-refresh) longtemps mais on limite tout ça à 1h max à cause du offline_access
  scope: "openid email profile roles offline_access" # Sans offline_access (rafraîchir tant que la session Keycloak est vivante) | Avec offline_access (on peux garder des sessions très longues, Keycloak utilise les offline sessions.)



ingress:
  enabled: true
  ingressClassName: traefik
  annotations: {}
  hosts:
    - adjodadev.com
  path: /oauth2
  pathType: Prefix